.section-p1 {
    padding: 40px 80px;
}


footer {
    background-color: rgb(218, 221, 233);
}

footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: auto 150px;
    padding-top: 40px;
}

footer section .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 50px
}

footer section .sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer section .logo {
    margin-bottom: 20px;
}

footer section p {
    font-size: 13px;
    margin: 0 0 8px 0;
}


footer section a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer section .follow {
    margin-top: 20px
}

footer section .follow i {
    color: #465b52;
    padding-right: 5px;
    cursor: pointer;

}

footer section .follow i:hover,
footer section a:hover {
    color: #088178;

}


footer section .copyright {
    width: 100%;
    text-align: center
}